* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --primary-color: #4891ff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-size: 15px;
    line-height: 1.5;
    font-family: "Outfit", sans-serif;
    background: var(--white);
    overflow-x: hidden;
    background-color: var(--slate-300);
}

.bold {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: bold;
    color: var(--slate-900);
}

.regular {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--slate-500);
}

.text-center {
    text-align: center;
}

 img {
    max-width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 320px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding: 16px 16px 40px 16px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 24px;
}

.card .card-text {
    display: flex;
    flex-direction: column;
    gap: 16px

}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }